@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

:root {
  --white: #FFFFFF;
  --red: #EE3643;
  --error: #Ba2732;
  --hover-red: #CA2C37;
  --basic-greylight: #c5c5c5;
  --header-blue: #293449;
  --active-header-blue: #161D29;
  --nav-blue: #32425C;
  --black: #000000;
  --button-green: #63A63E;
  --object-yellow: #FFBF47;
  --object-blue: #3BBCE3;
  --object-purple: #DC91D8;
  --object-green: #8ED78F;
  --object-yellow-add: #FFC047;
  --price: #A9A9A9;
  --adress-footer: #F3F7F9;
  --nav-footer: #F1F5F7;
  --another-nav-footer: #FFD180;
  --card-border: #eaeaea;
  --headline-card: #f9f5f0;
}

.page-body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.page-header {
  background-color: var(--nav-footer);
  margin-bottom: 60px;
}

a {
  text-decoration: none;
  color: var(--white);
}

img {
  max-width: 100%;
  height: auto;
}

.content-container {
  width: 940px;
  margin: 0 auto;
}

.top-header-wrapper {
  background-color: var(--header-blue);
  margin: 0 auto;
}

.top-header {
  color: var(--white);
  color: var(--nav-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.subtitle {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--red);
  width: 198px;
}

.header-cart:active {
  opacity: 0.5;
}

.header-phone {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--red);
  border: 3px solid #fff;
  width: 270px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

.header-adress {
  width: 250px;
  font-size: 14px;
  color: var(--nav-blue);

}

.sign-in {
  color: var(--black);
  font-size: 21px;
  line-height: 21px;
}

.sign-up {
  color: var(--black);
  font-size: 21px;
  line-height: 21px;
}

.sign-in-up:active {
  color: var(--basic-greylight);
}

.sign-in:hover {
  color: var(--red)
}

.sign-up:active {
  color: var(--basic-greylight);
}

.sign-up:hover {
  color: var(--red)
}

.user-nav {
  font-size: 16px;
  line-height: 18px;
  color: var(--nav-blue);
}

.logo {
  width: 220px;
  display: flex;
  background: url(../img/icons/logo.svg) no-repeat var(--red) center;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  height: 42px;
}

input[type=search] {
  width: 270px;
  height: 42px;
}

.user-nav:hover {
  color: var(--red);
}

.user-nav:active {
  color: var(--basic-greylight);
}

.user-profile {
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
}

.user-profile:active {
  color: var(--basic-greylight);
}

.breadcrumbs {
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
}

.catalog-headline {
  font-size: 30px;
  line-height: 30px;
  color: var(--nav-blue);
  font-family: "PT Sans", "Arial", sans-serif;
}

.catalog-filter {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.midle-header-wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-nav {
  background-color: var(--nav-blue);
  padding: 0 10px;
  margin-bottom: 60px;
}

.nav-list {
  list-style: none;
}

.nav-list a {
  color: var(--white);
}

.nav-list a:active {
  opacity: 50%;
}

.main-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "materials tools technick"
    "slider slider sale"
    "slider slider delivery";
  gap: 20px;
  margin-bottom: 60px;
}

.offers-title {
  color: var(--white);
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.offers-item {
  width: 300px;
}

.offers-item:nth-child(1) {
  background-color: var(--object-yellow);
  grid-area: materials;
}

.offers-item:nth-child(2) {
  background-color: var(--object-blue);
  grid-area: tools;
}

.offers-item:nth-child(3) {
  background-color: var(--object-purple);
  grid-area: technick;
}

.offers-item:nth-child(6) {
  background-color: var(--object-green);
  grid-area: sale;
}

.offers-item:nth-child(7) {
  background-color: var(--object-yellow-add);
  grid-area: delivery;
}

.slider-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
}

.slider-header {
  color: var(--white);
  font-size: 36px;
  line-height: 36px;
}

.slider-header-wraper {
  display: flex;
  flex-direction: column;
}


.first-slider-container {
  grid-area: slider;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  align-items: flex-start;
  width: 620px;
  background: url(../img/products/Puncher.jpg) no-repeat;
}

.second-slider-container {
  grid-area: slider;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  align-items: flex-start;
  width: 620px;
  background: url(../img/products/Drill.jpg) no-repeat;
  display: none;
}

.slide-second {
  display: none;
}

.radio-slider-wraper {
  display: none;
}

.button {
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--red);
}

.headline {
  font-size: 30px;
  line-height: 30px;
}

.popular-sections-color {
  color: var(--nav-blue);
  margin-left: 28px;
}

.popular-card-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
}

.popular-card-wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background: var(--headline-card);
  margin-bottom: 20px;
  margin-top: 59px;
}

.popular-card-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  padding: 0 10px;
}

.popular-card-item {
  font-family: "PT Sans", "Arial", sans-serif;
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--card-border);
}

.price-current {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  background-color: var(--red);
}

.price-old {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  color: var(--price);
  margin-bottom: 24px;
}

.popular-manufacturers-wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--headline-card);
  padding: 0 10px;
  margin-top: 70px;
  margin-bottom: 20px;
}

.manufacturers-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 70px;
  padding: 0 10px;
}

.manufacturers-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  min-height: 145px;
  margin-bottom: 20px;
  border: 1px solid var(--card-border);
}

.manufacturers-item:active {
  opacity: 50%;
}

.slogan {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-wraper {
  margin-bottom: 70px;
  background-color: var(--nav-footer);
  margin-top: 70px;
}

.radio-wraper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.delivery-slogan {
  width: 300px;
}

.guarantee-slogan {
  width: 300px;
}

.credit-slogan {
  width: 309px;
}

.services-slogan {
  width: 394px;
}

.contact-section-wraper {
  width: 300px;
}

.company-wraper {
  width: 460px;
}

.info-block {
  display: flex;
  justify-content: space-between;
}

.info-slogan {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.service-caption {
  color: var(--nav-blue);
  font-size: 30px;
  line-height: 30px;
}

.footer-wraper {
  background-color: var(--nav-blue);
}

.footer-content {
  display: flex;
}

.small-footer-wraper {
  background-color: var(--header-blue);
}

.small-footer-content {
  display: flex;
  justify-content: space-between;
}


.footer-nav-list {
  list-style: none;
}

.footer-nav-list a {
  color: var(--another-nav-footer);
}

.copyright {
  color: var(--white);
  font-size: 16px;
  line-height: 18px;
}

.item-decoration:hover {
  text-decoration: underline;
}

.item-decoration:active {
  opacity: 50%;
  text-decoration: none;
}

.footer-adress {
  width: 321px;
  color: var(--white);
  min-height: 49px;
}

.footer-link {
  color: var(--another-nav-footer);
  font-size: 16px;
  line-height: 18px;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-link:active {
  color: var(--red);
  text-decoration: none;
}

.vk-link {
  background:
    url(../img/icons/icon-vk.svg) no-repeat;
}

.fb-link {
  background:
    url(../img/icons/icon-fb.svg) no-repeat;
}

.insta-link {
  background:
    url(../img/icons/icon-insta.svg) no-repeat;
}

.socials {
  list-style: none;
}
